/* ============================================= */
/*              Images                           */
/* ============================================= */

.hero-img {
    width: 65%;
    max-width: 350px;
    align-self: center;
}