/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media (min-width: 960px) {

    #header {
        margin: 2rem;
    }

    .hamburger {
        display: none;
    }

    .header-nav-md {
        @include flexy($just: space-between, $align: center);
        text-transform: uppercase;
    }

    .overlay {
        display: none;
    }
}