/* ============================================= */
/*              Typography                       */
/* ============================================= */

body {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1.5;
    color: #00e;
}

